.banner
{
	background-image: url("imgs/banner.jpg");

	background-position: center;
	background-attachment: fixed;

	width: 100%;
	min-height: 300px;
}

.content {
	padding-left: 2em;
	padding-right: 2em;
}

.section {
	padding-bottom: 3em;
}

.main-content {
	padding-top: 2em;
}

.banner-header {
	padding-top: 1em !important;
	font-size: 5em !important;
}

.section-header-v1 {
	background-color: #3d87f7 !important;
}

.section-header-v2 {
	background-color: #4aaf38 !important;
}

.sub_section_header {
    font-weight: bold;
    font-style: italic;
}
